@model BaiKiemTra03_02.Models.TacGia

<div>
    <h2>Chi tiết tác giả</h2>
    <p>
        <b>ID:</b> @Model.Id
    </p>
    <p>
        <b>Tên Tác Giả:</b> @Model.TenTacGia
    </p>
    <p>
        <b>Quốc Tịch:</b> @Model.QuocTich
    </p>
    <p>
        <b>Năm Sinh:</b> @Model.NamSinh
    </p>
</div>
