
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<header>
    <h2>BÀI TẬP</h2>
</header>

<section>
    <nav>
        <ul>
            <li>@ViewBag.HoTen</li>
            <li>@ViewBag.MSSV</li>
            <li>@ViewBag.Nam</li>
        </ul>
    </nav>

    <article>
        
        
        
        <p>-----------------------</p>
        <img src="~/image/Min.jpg" style="width:120px;" />
        <p>Minnz Đầu Gấu Không Ngán Một Ai!!!!!</p>
    </article>
</section>

<footer>
    <p>Copyright &copy; Minzz Tập Code - @DateTime.Now.Year</p>
</footer>



