@model BaiKiemTra03_02.Models.Sach

<div class="container">
    <h3>Thêm/Cập Nhật Sách</h3>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form method="post" asp-action="Upsert">
        <div class="form-group">
            <label asp-for="TieuDe">Tiêu Đề</label>
            <input asp-for="TieuDe" type="text" class="form-control" />
            <span asp-validation-for="TieuDe" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NamXuatBan">Năm Xuất Bản</label>
            <input asp-for="NamXuatBan" type="number" class="form-control" />
            <span asp-validation-for="NamXuatBan" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TacGiaId">Tác Giả</label>
            <select asp-for="TacGiaId" asp-items="@ViewBag.DSTacGia" class="form-control"></select>
            <span asp-validation-for="TacGiaId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="TheLoaiId">Thể Loại</label>
            <select asp-for="TheLoaiId" asp-items="@ViewBag.DSTheLoai" class="form-control"></select>
            <span asp-validation-for="TheLoaiId" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">@(Model.Id == 0 ? "Tạo mới" : "Cập nhật")</button>
        <a asp-action="Index" class="btn btn-secondary">Hủy</a>
    </form>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
