@{
    ViewData["Title"] = "Home Page";
}





    <h2>GIỚI THIỆU</h2>
    <p>Hello, I'm Thư</p>
    <p style="color:pink">Minnz Tập Code</p>
     

    <header>
    <h2>GIỚI THIỆU</h2>
    </header>

    <section>
        <nav>
            <ul>
                <li><a href="~/trang-chu">Bản Thân</a></li>
                <li><a href="~/gioi-thieu-nhom">Nhóm</a></li>
                
            </ul>
        </nav>

        <article>
        <h1>Hello, I'm Thư</h1>
        <p>Minnz Tập Code</p>
        <img src="~/image/Thu.jpg" style="width:100px;"/>
        </article>
    </section>

    <footer>
        <p>CopyRight &copy; Minnz - @DateTime.Now.Year</p>
    </footer>



