@model IEnumerable<TheLoai>

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Thể Loại
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            @foreach(var item in Model){
                 <li><a class="dropdown-item" href="#"><b>@item.Name</b></a></li>
            }
        </ul>
    </li>